<div class="main-content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <h2>Ферма #1</h2>
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">Краснадар</h3>
                        <h4 class="card-title">Паказания</h4>
                       
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-thermometer-quarter"></i> 17C </span> 
                            <span class="text-success"><i class="fa fa-bath"></i> 95% </span>
                            <span class="text-success"><i class="fa fa-quora"></i> 2000ppm </span>
                            
                          </p>
                          <br>
                    </div>
                    <div>
                        
                    </div>
                    <div class="card-header card-header-success">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> 4 минуты назад
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
        
    </div>
  </div>
  