<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://city-farmer.biz">
                        Разработка
                    </a>
                </li>
                <li>
                    <a href="http://city-farmer.biz">
                        О нас
                    </a>
                </li>
                <li>
                    <a href="http://city-farmer.biz">
                        Блог
                    </a>
                </li>
                <li>
                    <a href="http://city-farmer.biz">
                        Владение
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Все права принадлежат
            <a href="http://city-farmer.biz" target="_blank">ООО"СитиФермер"</a> фермерство как сервис.
        </div>
    </div>
</footer>
